@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: url(./Download\ Nurturing\ growth\ Hand\ adds\ soil\ to\ green\ backdrop\,\ symbolizing\ planting\ or\ remembrance\ Vertical\ Mobile\ Wallpaper\ AI\ Generated\ for\ free.jpg);    
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
  }
a{
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 12px;
}
header{
/* background-color: lightgreen; */
width: 1134px;
height: 40px;
text-align: center;
}





















